@keyframes iconAnimation {
  0% {
    transform: translateX(0) translateY(0) rotate(0); }
  20% {
    transform: translateX(0) translateY(-3px) rotate(3deg); }
  50% {
    transform: translateX(0) translateY(0) rotate(0); }
  70% {
    transform: translateX(0) translateY(-3px) rotate(-3deg); }
  100% {
    transform: translateX(0) translateY(0) rotate(); } }

body, html {
  height: 100%;
  background-color: white; }

.section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  padding-bottom: 50px; }

.section--item {
  background-color: #f6f6f6;
  height: 250px;
  width: 250px;
  text-align: center;
  margin: 20px;
  line-height: 250px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px #eee, inset 0px 0px 2px 0 #bdbdbd; }

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center; }

.header--item {
  -ms-flex: 1 100%;
      flex: 1 100%;
  text-align: center;
  margin: 20px; }
  .header--item img {
    margin-left: 15px;
    margin-right: 15px; }

.weather-box {
  line-height: normal; }

.weather-box--el {
  padding-top: 25px; }

.weather-box--el__temp {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 12px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  padding: 15px; }

.weather-box--el__curr-temp {
  font-size: 20px;
  font-weight: bold; }

.weather-box--el__city {
  font-weight: bold; }

.weather-box--el__icon {
  padding-top: 10px; }
  .weather-box--el__icon img {
    animation: iconAnimation 5s infinite;
    animation-timing-function: linear; }

.footer {
  text-align: center;
  background-color: #333333;
  padding: 20px 10px;
  color: #8b8b8b;
  font-size: 12px;
  padding-top: 20px; }

.add-weather p {
  margin: 20px; }

.message--p {
  margin-left: 10px; }

.add-city--message {
  display: -ms-flexbox;
  display: flex;
  margin: 20px; }

.message--spinner {
  display: none; }

.message--spinner__show {
  display: block; }

@media (min-width: 768px) {
  .header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-direction: row;
        flex-direction: row; }
  .header--item {
    -ms-flex: 1;
        flex: 1;
    text-align: center; }
  .add-city {
    text-align: left; } }
