body, html {
  height: 100%;
  background-color: white; }

h1 {
  font-size: 45px;
  padding: 40px; }

.section {
  padding-bottom: 50px; }

.header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column-reverse wrap;
      flex-flow: column-reverse wrap; }

.header--item {
  -ms-flex: 1 100%;
      flex: 1 100%;
  text-align: center;
  margin: 20px; }
  .header--item img {
    margin-left: 15px;
    margin-right: 15px; }

.footer {
  position: absolute;
  margin-bottom: 0;
  text-align: center;
  background-color: #333333;
  padding: 20px 10px;
  color: #8b8b8b;
  font-size: 12px;
  width: 100%; }

.message--p {
  margin-left: 10px; }

.add-city--message {
  display: -ms-flexbox;
  display: flex;
  margin: 20px; }

.message--spinner {
  opacity: 0; }

.message--spinner__show {
  opacity: 1; }

.input-group {
  padding-bottom: 15px; }

.button--message {
  font-size: 11px;
  color: #9a9a9a;
  letter-spacing: 3px;
  padding-left: 10px; }

.panel-heading {
  font-weight: bold; }
